<div class="page" id="page_contacts">
  <h1>Contatti</h1>
  <div id="contacts_wrapper">
    <div id="both">
      <h2>Studio Commerciale</h2>
      <div class="contact_elem">
        <span>E-mail:</span> <span>lorem@ipsum.com</span>
      </div>
      <div class="contact_elem">
        <span>telefono:</span> <span>897987104</span>
      </div>
      <div class="contact_elem">
        <span>telefono2:</span> <span>897987104</span>
      </div>
      
    </div>
    <div id="alfredo">
      <h2>Alfredo Stelluto</h2>
      <div class="contact_elem">
        <span>E-mail:</span> <span>lorem@ipsum.com</span>
      </div>
      <div class="contact_elem">
        <span>telefono:</span> <span>897987104</span>
      </div>
      <div class="contact_elem">
        <span>telefono2:</span> <span>897987104</span>
      </div>
      
    </div>
    <div id="anastasio">
      <h2>Anastasio Petito</h2>
      <div class="contact_elem">
        <span>E-mail:</span> <span>lorem@ipsum.com</span>
      </div>
      <div class="contact_elem">
        <span>telefono:</span> <span>897987104</span>
      </div>
      <div class="contact_elem">
        <span>telefono2:</span> <span>897987104</span>
      </div>
    </div>
  </div>
</div>
