#main footer {
    height: 2em;
    width: 100%;
    position: absolute;
    bottom: 0;

    line-height: 2em;

    div {
        float: left;
        width: 30%;
        text-align: center;
        color: #bbb;
    }

    div:hover {
        color: #666;
    }
}
