#main footer {
    height: 2em;
    width: 100%;
    position: absolute;
    bottom: 0;

    line-height: 2em;

    background-color: rgba(200, 200, 200, 0.2);

    div {
        float: left;
        width: 30%;
        text-align: center;
        color: #777;
    }

    div:hover {
        color: #333;
    }
}
