body {
    overflow-x: hidden;  // necessary to avoid horizontal bars
    font-family: $base-font-family;
    color: $text-color;
}

strong {
    font-weight: 800;
}

a {
    text-decoration: none;
    color: $text-color;
}

.material {
    background-color: #dedede;
    box-shadow: 0 0 15px #888;
}

.double {
    width: 45%;
    height: 90%;

    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.right {
    left: 75%;
}
