#page_news {
    background-color: #A7A;

    > h1 {
        width: 100%;
    }
}

#news_wrapper {
    clear: both;
    margin-left: 1em;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3em;
}

.news {
    display: block;
    width: 45%;
    background-color: #ddd;
    margin: 0.5em;
    padding: 1em;

    h1 {
        font-size: 1.5em;
        margin-bottom: 0.3em;
        float: left;
    }

    h2 {
        float: right;
        font-size: 0.9em;
        color: #777;
    }

    p {
        clear: both;
    }
}

