#page_where {
    background-color: #FEB94D;

    div {
        width: 45%;
        height: 90%;
        float: left;
        margin: 0 2.5%;

        position: relative;
        top: 50%;
        left: 50%
        transform: translate(-50%, -50%);

        background-color: #dedede;
        box-shadow: 0 0 15px #888;

        p {
            font-size: 1.4em;
            line-height: 1.2em;
            display: block; 
            margin: auto;
            width: 85%;
        }

        #slider {
            display: block;
            width: 85%;
            margin: 2em auto;
        }

        h1 {
            font-size: 3em;
            font-family: Raleway;
            padding: 1em;
        }
    }
    div:nth-child(2) {
        height: auto;
        right: 50%
        iframe { 
            width: 90%;
            margin: 5% auto;
            display: block;
            font-size: 3em;
        }
    }
}


