#page_where {
    position: relative;
    background-color: #FEB94D;

    div {
        p {
            font-size: 1.4em;
            line-height: 1.2em;
            display: block; 
            margin: auto;
            width: 85%;
        }

        #slider {
            display: block;
            width: 85%;
            margin: 2em auto;
        }

        h1 {
            font-size: 3em;
            font-family: Raleway;
            padding: 1em;
        }
    }

    div:nth-child(2) {
        height: auto;
        iframe { 
            width: 90%;
            margin: 5% auto;
            display: block;
            font-size: 3em;
        }
    }
}


