#page_where iframe { 
    float: left;
    clear: left;
    height: 70%;
    display: block;
    margin-left: 1em;
    font-size: 3em;
}

#page_where p {
    font-size: 1.4em;
    line-height: 1.2em;
    display: block; 
    float: right;
    clear: right;
    width: 40%;
    margin-right: 3em;
}

#page_where #slider {
    width: 160px * 3;
    height: 90px * 3;
    float: right;
    clear: right;
    margin-right: 3em;
    margin-top: 3em;
}
