#page_who {
    @extend #page_what;
    background-color: #7A7;

    .img {
        display: inline-block;
        float: left;
        margin: 0 1em 1em 0;
        width: 200px;
        height: 250px;
        background-color: #444;
    }
}
